# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 150

[*.{java, xml,properties}]
indent_style = space
indent_size = 4

[*.md]
max_line_length = off
